<a href="<%= group_path %>"><%= I18n.t('generate_group') %></a> <br />

<br />


<a href="<%=single_path%>"><%= I18n.t('generate_single') %></a> <br />

<br />


<a href="#"><%= I18n.t('history') %></a>